
body {
	background-image: url("movies.jpeg");
	color:#fffff0;
}

h1{
	font-family: Verdana;
	position: relative;
	left:35%;
}

#title {
	text-align: left;
	font-size: 24px;
	font-family: Verdana;
	padding: 30px;
	font-weight: bold;

}

#language, #releaseDate, #voteAverage, #voteCount, #overview{
	text-align: left;
	font-size: 18px;
	font-family: Verdana;
	padding: 0px;
	font-weight: normal;
}

#inputFilm {
	width:500px;
	height: 30px;
	border-radius: 3px;
	position: relative;
	left:34%;
}

#search, #clean{
	width: 70px;
	height: 30px;
	border-radius: 3px;
	font-family: Verdana;
	font-size:16px;
	position: relative;
	top:5%;
	left:12%;
}
#clean{
	top:5%;
	left:13%;
}